a {

text-decoration: none;
color: inherit !important;
}



.header-color {
  background: #2c3e50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}

.landing-grid {
  background: #2c3e50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

}


.landingContainer {
  display:flex;
  align-items: center;
  width: 100%;
}

.landingContent {
  width: 100%;
  margin-bottom: 6em;
}


.projects-grid {
  display: flex;
  flex-wrap: wrap;

}

.mdl-card {
  margin-top: 20px !important;
  margin-bottom: 50px !important;
}

/* Resume Page css */

.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

.resumeText {

  margin-right: 20px;
  margin-bottom: 20px;
}

.resumeText > ul > li {
  font-weight: bold;
}

#arrow {
  border-right:2px solid black;
  border-bottom:2px solid black;
  width:10px;
  height:10px;
  transform: rotate(-45deg);
  margin-top:40px;
}



ul li {
position: relative;
padding-bottom: 10px;
}

ul {
list-style: none;
}

ul li:before{
 content: '';
 position: absolute;
 border-right:2px solid black;
 border-bottom:2px solid black;
 width:5px;
 height:5px;
 top: calc(50% - 4px);
 left: -20px;
 transform: translateY(-50%) rotate(-45deg);
}


.skill {
  min-width: 160px;
  min-height: 30px;
  margin-right: 15px ;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  overflow: auto;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
  font-size: 34px;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 44px;
  padding-right: 5rem;
}



/* contact page css */

.avatar-img {
  height: 200px;

}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 70%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 48px;
  /* font-weight: bold; */
  color: white;
  margin: 10px;
}

.banner-text h2 {
  font-weight: bold;
  color: white;
  font-size: 34px;
  margin: 10px;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.width {
  width: 100%;
}

.banner-text h4 {
  color: white;
  font-size: 20px;
  padding: 1em;
  margin: 5px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 4em;
  padding: 8px;

}

.social-links a {
  opacity: 0.7

}

.social-links a:hover {
  color: white;
  opacity: 1.0;
  transition: 0.3s ease;

}


.hover {
  font-weight:bold !important;;
}

.active {

  font-weight: 1000 !important;;
  /* animation: shake 1s;
  animation-iteration-count: infinite; */

}


.hover:hover {
  color: white;
  opacity: 0.8;
  transition: 0.2s ease;
  animation: shake 1s;
  animation-iteration-count: infinite;

}


@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.mdl-card__supporting-text {
  min-height: 170px;
}

.mdl-card__actions {

display: flex;
align-items: center;
justify-content: center;

}

.mdl-card__actions > a {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

}

.mdl-card__actions > a > button {

  width: 100%;
  
  }


  .cardTitle {
    font-size: 20px;
    /* font-weight: bold; */
    padding: 10px 0px 20px 0px;
    color: #2c3e50
    
  }

  .mdl-card:hover {

    transform: scale(1.08);


  }

  .mdl-card {

    transition: 0.3s ease-out;

  }

  .minWidth {
    min-width: 65px;;

  }

  .center {

    display: flex;
    flex-direction: row;;
    flex-wrap: wrap;
    align-items: center;;
  }

/* Animation */

.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(200%);
  display: inline-block;
}


/* 
  MEDIA QUERY */


  @media only screen and (max-width: 800px) {
    .social-links {
     width: 100%;
     justify-content: space-around;
    }
    .banner-text {
      width: 90%;
      margin-bottom: 30px;
    }

    .banner-text > h1 {
      font-size: 44px;
      margin: 5px;
    }

    .banner-text > h2 {
      font-size: 24px;
      margin: 10px;
    }

    .banner-text > p {
      font-size: 16px;
      margin: 10px;
    }

    .avatar-img {
    
      padding-top: 3em;
      padding-bottom: 1em;
    }

    .skill {
      font-size: 12px;
      min-width: 100px;
      margin-right: 5px ;
    }

    .center{
      font-size: 16px;
    }

    .center > i{
      font-size: 30px;
      padding-right: 10px;
    }

    
  }